.sidebar {
  width: 280px;
  height: 100vh;
  color: var(--grey);
  background-color: var(--black);
}

.sidebar h4 {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: #fcfcfc66;
  font: normal normal 700 20px/24px Nunito Sans;
}
